.portf__about{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1.5rem 4rem 4rem 4rem;
    align-items: center;
}

.portf__about-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.portf__about-container_persona{
    display: flex;
    flex-direction: column;
}

.portf__about-container_persona-figures{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.portf__about-container_persona-figures h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 54px;
    letter-spacing: 0.01em;
}

.portf__about-container_persona-figures_stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portf__about-container_persona-figures_stats p{
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 550;
}


.portf__about-container_skills{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.portf__about-container_skills-text{
    margin-bottom: 2rem;
}

.portf__about-container_skills-text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: justify;
}

.portf__about-container_skills-display{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.portf__about-container_skills-display img{
    height: 60px;
}

@media screen and (max-width: 1050px) {
    .portf__about-container_persona{
        margin-right: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .portf__about-container_persona-figures_stats p{
        font-size: 12px;
    }
    .portf__about-container_skills-display img{
        height: 40px;
    }
    .portf__about-container_persona img{
        width: 40vw
    }
    .portf__about-container_skills{
        max-width: 300px;
    }
}

@media screen and (max-width: 650px) {
    .portf__about-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .portf__about-container_skills{
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .portf__about-container_skills-display{
        margin-top: 2rem;
    }
    .portf__about-container_persona img{
        width: 100%;
        height: auto;
    }
    .portf__about-container_skills-text p{
        font-size: 12px;
    }
}