.portf__skills{
    display: flex;
    width: 110px;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    /* border-radius: 10px; */
}

.portf__skills p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: .1rem;
    letter-spacing: 0.01em;
}

.portf__skills img{
    width: 50px;
    height: 56px;
    padding: .3rem;
}

.portf__skills-text{
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .portf__skills{
        width: 90px;
    }
    .portf__skills p{
        font-size: 12px;
    }
}