p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.portf__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 1rem 4rem;
}

.portf__navbar-links{
    display: flex;
    flex-direction: row;
}

.portf__navbar-logo img{
    width: 140px;
    height: 100px;
}

.portf__navbar-links p,
.portf__navbar-menu_links{
    margin: 0 1rem;
    cursor: pointer;
}

.portf__navbar-contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portf__navbar-contact button,
.portf__navbar-menu_contact button{
    background: #1E1E1E;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    outline: none;
    border: 0;
    cursor: pointer;
}


.portf__navbar-menu{
    display: none;
    position: relative;
    background-color: #D9D9D9;
}

.portf__navbar-menu_links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    padding: 2rem;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.portf__navbar-menu_links p{
    margin: 1rem 0;
}

.portf__navbar-menu_contact {
    display: none;
}

@media screen and (max-width: 900px) {
    .portf__navbar{    
        padding: 1rem 2rem;
    }

    .portf__navbar-contact button{
        font-size: 12px;
        line-height: 15px;
        padding: 0.7rem 0.7rem;
    }
}

@media screen and (max-width: 600px){
    .portf__navbar-links{
        display: none;
    }

    .portf__navbar-contact{
        display: none;
    }

    .portf__navbar-menu{
        display: flex;
    }

    .portf__navbar-menu_contact{
        display: block;
    }

    .portf__navbar-menu_contact button{
        font-size: 15px;
        line-height: 20px;
    }
}