@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

:root{
    --font-family: 'Poppins', sans-serif;

    --h1-size-small:25px;


    --color-bg:#F9F7F7;
    --primary-color: #F08142;
}
